$primary: rgb(134, 125, 255);
$secondary: lighten($primary, 10%);
$button-colour: darken($primary, 5%);

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: rgb(251, 246, 246);
  //   display: flex;
  //   justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bannerContainer,
.navbarContainer {
  max-width: calc(100% - 100px);
  margin: 0 auto;
}

.theNavbar {
  position: sticky;
  top: 0;
  z-index: 1100;
  background-color: lightblue;
}

.navbarContainer {
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  .logo {
    font-size: 50px;
  }

  a {
    margin: 0 5px;
  }
}

//HOME
.group-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
}

.group-card {
  .card {
    border: 5px solid rgb(77, 77, 77);
    border-radius: 18px;
    background-color: lighten($primary, 15%);
    // color: black;
    // width: calc(100%);
    height: 100%;
    // margin: 5px;
    // padding: 5px;
  }

  p {
    font-size: 10px;
  }

  h2 {
    font-size: 20px;
    color: rgb(17, 17, 200);
    margin-bottom: -10px;
    padding: 10px;
  }
}

// reusable for any main page
.mainContainer {
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid grey;
  padding: 0 10px 10px 10px;

  .card {
    background-color: $secondary;
    padding: 5px;
    margin-top: 10px;
    border-radius: 15px;

    .textBox {
      background-color: lighten($secondary, 20%);
      border-radius: 15px;
      padding: 10px;
      margin-bottom: 15px;
    }

    button {
      margin: 0 10px;
      background-color: $button-colour;
      border: 2px solid $primary;
      border-radius: 8px;
      color: white;

      &:hover {
        cursor: pointer;
        background-color: lighten($button-colour, 10%);
      }
    }
  }

  .card-title {
    font-size: 1.2em;
    font-weight: 900;
  }

  .infoBox {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .tagDiv {
      display: flex;
      text-align: right;

      // background-color: lighten($primary, 10%);
      // padding: 10px;
      .tag {
        margin: 5px;
      }
    }
  }

}


//Single Group Page
.banner {
  background-color: $primary;
  padding: 10px 0;

  .bannerContainer {

    .title {
      max-width: 80%;

      h5 {
        color: lighten($primary, 15%);
        margin: 10px;
      }

      h1 {
        font-size: 2em;
        margin: 0 20px 0 0;
        color: lighten($primary, 25%);
      }
    }

    .bio {
      border: 2px solid lighten($primary, 15%);
      color: lighten($primary, 15%);
      max-height: calc(200px - 30px);

      p {
        margin: 0;
      }
    }
  }
}

@media (min-width: 610px) {
  .bannerContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 200px;

    .title {
      font-size: 1.8em;
    }

    .bio {
      max-width: 300px;
      align-self: flex-start;

      padding: 0 5px;
      margin-top: 20px;
      font-size: 1.1em;
    }
  }
}



// login and register pages

.login .register {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  min-width: 350px;
  margin-top: 12px;
  font-weight: 600;
  padding: 10px 0 10px 0;
  border: 2px solid black;
}

.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 240px;
}

input {
  border: 1px solid rgba($color: #000000, $alpha: 0.6);
  border-radius: 5px;
  padding: 10px;
  margin: 3px 0 3px 0;
}

button {
  background-color: #3897f0;
  border: none;
  color: white;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 4px;
  width: 240px;
  margin: 12px 0 25px 0;
  font-weight: 900;
  cursor: pointer;
}


footer {
  background-color: rgb(167, 167, 167);
  text-align: center;
  font-size: 15px;
  color: rgb(0, 0, 0);
  padding-top: 10px;

  p {
    margin: 0;
  }
}